@import "../../../node_modules/bootstrap/scss/bootstrap";


// @font-face {
//    font-family: "Charter";
//    src: url('/assets/fonts/charter.ttc');
// }
@font-face {
   font-family: "Blood Crow C";
   src: url('/assets/fonts/bloodcrowc.ttf');
}
$hodlween: 400 1rem 'Blood Crow C', Arial, Helvetica, sans-serif;
$sans-serif: 100 1rem system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


$light: #e4d6e2;
$light2: #d7c9d4;
$light3: #b8acc3; //text
$light4: #786e82;
$dark: #11051d; //bg
$dark2: #0a0311; //footer
$purple: #230444; //gradient
$orange: #eb7e6f; //links
$purple-light: #a78fa4;

$table-color1: #2f1a40;
$table-color2: #372359;
$table-color3: #4d2359;

$table-color4: #1d1027;
$table-color5: #22122e;

html {
  scroll-behavior: smooth;
}
body.special-event {
  background: #11051d url(/assets/img/repeat-bg.jpg) repeat-x top center;
  background-size: 10px 1488px;
  color: $light3;
  h1, h2, h3, h6 {
    font: $hodlween;
    font-size: 2em;
    color: $light;
  }
  h2 {
    font-size: 3.5em;
    line-height: .9;
  }
  h2.svg {
    height: 100px;
    svg {
      width: 3em;
      position: relative;
      top: -26px;
      margin: 0 24px;
    }
  }
  h3, h6 {
    font-size: 3em;
  }
  .header {
      margin: 0 auto;
    img {
      max-height: 800px;
      width: 100%;
      max-width: 800px;
      display: block;
    }
  }
  main {
    margin: 0 auto 300px;
    text-align: center;
    font-size: 1.15em;
  }
  #wrapper {
    background: url(/assets/img/hdr-bg.jpg) no-repeat top center;
    background-size: 1728px 1488px;
    min-height:1488px;
  }

  &#home {
    #wrapper {

    }
  }
  &#subpage {
    background-position-y: -190px;
    #wrapper {
      background-position-y: -190px;
      .header {
        display: none;
      }
      #hodlween-logo {
        margin: 17px auto 15px !important;
      }
    }
  }
}

.alert-top-of-page {
  margin: 10px 10px 10px;
  text-align: center;

}


a {
  color: $orange;
}
a:hover, a:focus {
  text-decoration: none;
  color: $light;
}
a:hover {
  transition: all 0.3s;
}
span.orange {
  color: $orange;
}
.brighten-text {
  color: $light2;
}
.navbar-dark {
  margin: -28px auto;
  width: 100%;
  top: 22px;
  padding: 6px 0 0;
  .navbar-nav {
    background-color: rgba(17,5,29,.5);
    border-color: rgba(255, 255, 255, 0.1);
    padding: 0 17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .navbar-toggler {
    padding: 5px 12px 10px;
    margin: 9px 19px;
    background-color: rgba(17,5,29,.5);
    color: rgba(255,255,255,1);
    .menu-text {
      span:after {
        content: "MENU";
        font-size: .88rem;
      }
    }
  }
}

#hodlween-logo {
  width: 680px;
  height: 200px;
  display: block;
  margin: 207px auto 80px;

  &.party-padding {
    margin-bottom: 115px;
  }
}

.header {
  text-align: center;
  margin: auto;
  #scribble-party {
    background: url(/assets/img/scribble.png) no-repeat;
    background-size: 230px 100px;
    display: block;
    width: 230px;
    height: 100px;
    position: relative;
    margin: -55px auto 0;
    bottom: -55px;
    right: -163px;
  }
  #scribble-celebration {
    background: url(/assets/img/scribble-celebration.png) no-repeat;
    background-size: 306px 104px;
    display: block;
    width: 306px;
    height: 104px;
    position: relative;
    margin: -55px auto 0;
    bottom: -55px;
    right: -169px;
  }
  span {
    font: $hodlween;
    line-height: 1.1;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    &.headline {
      color: $light;
      font-size: 56px;
    }
    &.headline2 {
      color: $light2;
      font-size: 40px;
    }
    &.headline.party {
      line-height: 0.8;
      span {
        font-size: 56px;
      }
    }
    &.headline2.party {
      color: $light3;
      line-height: 0.8;
      span {
        font-size: 46px;
      }
    }
  }
  .headline-bg {
    cursor: pointer;
    font: $hodlween;
    color: $purple-light;
    background: rgb(17,5,29);
    background: linear-gradient(90deg, rgb(17,5,29,0) 0%, rgb(17,5,29,1) 50%, rgb(17,5,29,0) 100%);
    width: 80%;
    mix-blend-mode: screen;
    margin: auto;
    padding: 10px 0 15px;
    p {
      margin: 0;
      width: auto;
      line-height: 1.5;
    }
    span {
      top: -6px;
      padding: 0 5px 0 15px;
      position: relative;
    }
    font-size: 40px;
  }
  .headline-bg-mobile {
    display: none;
  }
}



.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #fff; /* Match container background */
  iframe,
  object,
  embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;  /* Remove iframe border */
  }
}



.white-divider-mid {
  background: rgb(228,214,226);
  background: linear-gradient(90deg, rgba(228,214,226,0) 0%, rgba(228,214,226,1) 50%, rgba(228,214,226,0) 100%);
  height: 1px;
  display: block;
  width: 850px;
  margin: 20px auto 10px;
  &.with-bg {
    margin: 0 auto;
  }
  &.top {
    margin-top: 20px;
  }
  &.bottom {
    margin-bottom: 10px;
  }
}
main .white-divider-mid {
  margin-bottom: 30px;
}

a.orange-pill-btn {
  background: url(/assets/img/orange-pill2.png) no-repeat center center;
  background-size: 192px 58px;
  font: $hodlween;
  font-size: 28px;
  color: white;
  height: 58px;
  display: block;
  width: 192px;
  margin: 20px auto 0;
  line-height: 1.9;
  &:hover, &:focus {
    color: $dark;
  }
}
a.under-orange-pill-btn {
    margin: -10px 0 0;
    display: block;
    line-height: 0;
    font-size: .88em;
  }

.highlight-section,
.highlight-section2,
.highlight-section3,
.highlight-section4,
.highlight-section5,
.highlight-section6 {
  p {
    line-height: 2;
    width: 660px;
    margin: auto;
    // font-weight: lighter;
  }
  .headline-bg-alt {
    width: 80%;
    padding: 1em 0 2em;
    margin: auto;
    p {
      margin: 0;
      width: auto;
      // font-size: 23px;
      line-height: 1.5;
      text-align-last: center;
      // font-weight: lighter;
    }
  }
}

.highlight-section {
  padding: 100px 0 50px;
  margin: auto;
  clear: both;
  &.margin-bottom-fix p {
    margin-bottom: 30px;
  }
}
.highlight-section2 {
  padding: 50px 0 150px;
}
.highlight-section3 {
  padding: 100px 0 150px;
}
.highlight-section4 {
  padding: 50px 0 50px;
}
.highlight-section5 {
  padding: 100px 0 100px;
}
.highlight-section6 {
  padding: 50px 0 0px;
}

.hodlween-font {
  font: $hodlween;
  font-size: 37px;
  line-height: 1 !important;
  span {
    clear: both;
  }
}

.ticket-price-increase { 
  margin: 1px 0;
  > span{
    font: $hodlween;
    font-size: 46px;
    color: $light3;
  }
}

// p.first-letter:first-letter {
//   font: $hodlween;
//   font-size: 11rem;
//   float: left;
//   line-height: .9;
//   padding: 0 18px 0 0;
//   position: relative;
//   margin-top: -4rem;
// }
#countdown-ticker {
  div {
    display: inline-block;
    font: $hodlween;
    margin: 20px 32px 0px;
    span {
      display: block;
    }
    span:first-child {
      color: $light;
      font-size: 110px;
      line-height: 0;
      margin-bottom: 46px;
    }
    span:last-child {
      color: $light4;
      font-size: 30px;
    }
  }
}

[data-component="slideshow"] .slide {
  display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
  display: block;
}
.theme-img {
  background-color: #75447a;
  img {
    opacity: .8;
  }
}
article {
  clear: both;
  padding: 0 0 170px;
  float: left;
  width: 100%;
  div.color-image {
    float: left;
    width: 550px;
    box-shadow: -15px 15px 0px 2px rgba(128,76,136,0.3);
    -webkit-box-shadow: -15px 15px 0px 2px rgba(128,76,136,0.3);
    -moz-box-shadow: -15px 15px 0px 2px rgba(128,76,136,0.3);
    display: block;
    background-color: #75447a;
    img {
      opacity: .8;
      width: 100%;
    }
  }
  h3, h2, h6, p, .buy-links, .details, .white-divider {
    text-align: left;
    padding-left: 600px;
  }
  p {
    // text-align: justify;
  }
  .white-divider div{
    background: rgb(228,214,226);
    background: linear-gradient(90deg, rgba(228,214,226,1) 0%, rgba(228,214,226,0) 100%);
    height: 1px;
    display: block;
    margin: 25px 0 10px;
  }
  .details div {
    line-height: 2;
    padding: 15px 0px;
    font-size: 1em;
    font-weight: bold;
    span {
      display: inline-block;
    }
  }
  h2, h6 {
    color: $light;
  }
  p {
    line-height: 1.5;
    font-size: 21px;
  }
  .price {
    font: $sans-serif;
    font-size: 1.5em;
    color: $light2;
    margin: 20px 0;
    display: block;
    i {
      font-size: .75em;
    }
  }
  .buy-links {
    list-style: none;
    .buy-link {
      font-size: 1em;
      line-height: 3.5;
    }
    .orange-pill-btn {
      margin-left: -14px;
      text-align: center;
    }
  }
}

article:nth-of-type(even) {
  div.color-image {
    float: right;
    box-shadow: 15px 15px 0px 2px rgba(128,76,136,0.3);
    -webkit-box-shadow: 15px 15px 0px 2px rgba(128,76,136,0.3);
    -moz-box-shadow: 15px 15px 0px 2px rgba(128,76,136,0.3);
  }
  h3, h2, h6, p, .buy-links, .details, .white-divider {
    text-align: right;
    padding-right: 600px;
    padding-left: 0px;
  }
  p {
    // text-align: justify;
    text-align-last: right;
  }
  .white-divider div{
    background: linear-gradient(90deg, rgba(228,214,226,0) 0%, rgba(228,214,226,1) 100%);
  }
  .details div {
    // margin-right: -25px;
  }
  .buy-links {
    .orange-pill-btn {
      margin-right: -14px;
      margin-left: 0;
      display: inline-block;
    }
  }
}

// article sponsorship page
article {
  div.sponsor-icon {
    width: 230px;
    border-radius: 1000px;
    padding: 30px;
    margin-top: -40px;
    box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    -webkit-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    -moz-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    background-color: transparent;
  }
}
article.sponsor {
  padding: 0 0 100px;
  h3, h2, p, .buy-links, .details, .white-divider {
    padding-left: 280px;
  }
  p {
    // text-align: justify;
  }
}
article:nth-of-type(even) {
  div.sponsor-icon {
    float: left;
    box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    -webkit-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    -moz-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
  }
}
article.sponsor:nth-of-type(even) {
  h3, h2, p, .buy-links, .details, .white-divider {
    padding-right: 0px;
    padding-left: 280px;
    text-align: left;
  }
  p {
    // text-align: justify;
    text-align-last: left;
  }
}

.sponsor-2023 {

  .sponsor-icon-2023 {
    width: 200px;
    border-radius: 1000px;
    padding: 30px;
    margin: 0 auto -30px;
    box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    -webkit-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    -moz-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
    background-color: transparent;
    img {
      width: 100%;
    }
  }
}

article.center {
  float:none;
  div.color-image {
    float: none;
    margin: auto;
    margin-bottom: 50px;
  }
  h2, p, .buy-links, .details, .white-divider {
    text-align: center;
    padding-left: 0px;
  }
}

.speakers {
  .col {
    padding: 2em 0;
  }
  div > a {
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    background-color: #75447a;
    &:hover img {
      transition: all .3s;
      opacity: .9;
    }
  }
  .pic-caption {
    a {
      font: $hodlween;
      font-size: 2em;
    }
  }
  img {
    width: 100%;
    opacity: .7
  }
}

.sponsors {
  .col {
    padding: 2em 0;
  }
  div > a {
    display: block;
    width: 300px;
    // height: 250px;
    margin: auto;
    &:hover img {
      transition: all .3s;
      opacity: .8;
    }
  }
  img {
    width: 100%;
    opacity: 1;
  }
}

.table {
  border-collapse: separate;
  &.table-dark {
    color: $light3;
    background-color: $dark;
  }
  &.table-bordered td,
  &.table-dark th {
    border-color: $dark;
  }
  th, td {
    vertical-align: middle;
  }
  .commit {
      color: $light;
    }
  thead {
    font: $hodlween;
    font-size: 36px;
    th {
      background-color: $table-color1;
      vertical-align: middle;
      font-weight: lighter;
    }
    th:nth-child(2) {
      background-color: $table-color2;
      width: 40%;
    }
    th:nth-child(3) {
      background-color: $table-color3;
      width: 40%;
    }
  }
  tbody {
    tr:nth-child(1), tr:nth-child(6), tr:nth-child(9), tr:nth-child(14) {
      background-color: $table-color1;
    }
    tr:nth-child(2), tr:nth-child(3), tr:nth-child(15), tr:nth-child(16) {
      background-color: $table-color2;
    }
    tr:nth-child(4),
    tr:nth-child(5),
    tr:nth-child(7),
    tr:nth-child(8),
    tr:nth-child(10),
    tr:nth-child(11),
    tr:nth-child(13) {
      td:nth-child(2) {
        background-color: $table-color2;
      }
      td:nth-child(3) {
        background-color: $table-color3;
      }
    }
    tr:nth-child(12) td:nth-child(2) {
      background-color: $table-color3;
    }
    tr th {
      background-color: $table-color1;
    }
    tr td:nth-child(2) {
      // background-color: rgba(228,214,226,.2);
    }
  }
}
.table-dark.table-hover tbody tr:hover {
  background-color: $table-color1;
}

.table.basic {
  tbody {
    tr th {
      width: 20%;
    } 
    tr td {
      background-color: $table-color2;
    }
  }
}

.pleb-army {
  text-align: center;
  a{
    display: inline-block;
    text-decoration: none;
    img{
      margin: 3px 8px;
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      transition: .15s all;
    }
    &:hover{
      img {
        transform: scale(1.1);
      }
    }
  }
}

#rabbit {
  fill: $light;
  display: inline-block;
  width: 150px;
  position: relative;
  top: 11px;
}
.rabbit-bg {
  fill: none;
}
a#follow-us {
  cursor: pointer;
  display: block;
  margin: 0px auto 0px;
  width: 100%;
  color: $light;
  span {
    font: $hodlween;
    display: inline-block;
    font-size: 26px;
    padding: 0px 10px;
  }
  i {
    display: block;
    margin: -10px 0 10px 157px;
  }
  &:hover {
    transition: all 0.3s;
    color: $orange;
    #rabbit {
      transition: all 0.3s;
      fill: $orange;
    }
  }
}

.faq-accordian {
    position: relative;
    z-index: 1;
    .card {
        position: relative;
        z-index: 1;
        margin-bottom: 1.5rem;
        background-color: $table-color4;
        text-align: left;
        &:last-child {
            margin-bottom: 0;
        }
        .card-header {
            background-color: $table-color5;
            padding: 0;
            // border-bottom-color: #ebebeb;
            h6 {
                cursor: pointer;
                padding: 1.75rem 2rem;
                color: $orange;
                font: $hodlween;
                font-size: 2em;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -ms-grid-row-align: center;
                align-items: center;
                // -webkit-box-pack: justify;
                // -ms-flex-pack: justify;
                // justify-content: space-between;
                span {
                    font-size: 1.5rem;
                }
                &.collapsed {
                    color: $orange;
                }
                &.collapsed span {
                    -webkit-transform: rotate(-180deg);
                    transform: rotate(-180deg);
                }
            }
        }
        .card-body {
            text-align: left;
            p:last-child {
                // margin-bottom: 0;
            }
        }
    }
}

footer {
  background-color: $dark2;
  .col {
    text-align: center;
  }
  .social-media a {
    padding: 0 3px;
  }
  .footer-nav {
    padding: 0;
    // margin: 0 0 4px;
    li {
      list-style: none;
    }
    a {
      font-size: 1em;
      color: white;
      text-decoration: underline;
      &:hover {
          // opacity: 1;
          text-decoration: none;
      }
    }
    small {
      color: #dedede !important;
      a {
        color: #dedede !important;
      }
    }
  }
}
.responsive-embed {
  position: relative;
  padding-bottom: 39.32%;
  height: 0;
  overflow: hidden;
  max-width: 70%;
  margin: auto;
  &.full-width {
    max-width: 100%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.marquee-container {
  height:40vw;
  max-height: 306px;
  margin: 0px 0 -72px;
  position:relative; 
  overflow:hidden;
  -webkit-mask-image: -webkit-gradient(linear, left center, right center, 
    color-stop(0.00,  rgba(0,0,0,0)),
    color-stop(0.1,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,1)),
    color-stop(0.9,  rgba(0,0,0,1)),
    color-stop(1.00,  rgba(0,0,0,0)));
  mask-image: -webkit-gradient(linear, left center, right center, 
    color-stop(0.00,  rgba(0,0,0,0)),
    color-stop(0.1,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,1)),
    color-stop(0.9,  rgba(0,0,0,1)),
    color-stop(1.00,  rgba(0,0,0,0)));
  &:hover {
    // overflow: auto;
    .marquee {
      // animation-play-state:paused;
    }
  }

  .marquee {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 120s linear infinite;
    img {
      width: 60vw;
      max-width: 450px;
      &.hoz {
        width: 28.7vw;
        max-width: 216px;
      }
    }
    a {
      background-color: #75447a;
      display: inline-block;
      img {
        opacity: .9;
      }
    }
  }
}
@keyframes bannermove {
  0% {
    transform: translate(0, 0);;
  }
  100% {
    transform: translate(-50%, 0);
  }
}

// -- Stock code below -- 

small {
    display: block;
    color: #888;
}

main.container, footer .container {
    max-width: 1375px;
}
nav {
    max-width: 2000px;
}
footer .container {
    padding: 50px 0 100px;
    opacity: .9;
}

@media (max-width: 1300px) {


}


@media (max-width: 767px) {
    body.special-event {
      h1, h2, h3 {
        font-size: 2em;
      }
      h2, h3 {
        font-size: 10vw;
        line-height: 1;
      }
      h6 {
        font: $hodlween;
        color: $light;
        font-size: 6vw;
      }
      .header {
          margin: 0 auto;
        img {
          max-height: 800px;
          width: 100%;
          max-width: 800px;
        }
      }
      main {
        margin: 0 auto 150px;
        font-size: 1em;
      }
      &#home #wrapper,
      &#subpage #wrapper {
        #hodlween-logo {
          width: 100%;
          height: 27vw;
          &.party-padding {
            margin-bottom: 16vw;
          }
        }
      }
      &#home #wrapper {
        background-size: 240% auto;
        background-position-y: 0px;
        #hodlween-logo {
          margin: 29vw auto 15vw !important;
        }
      }
      &#subpage #wrapper {
        background-size: 240% auto;
        background-position-y: -74px;
        #hodlween-logo {
          margin: 10vw auto 0vw !important;
        }
      }
    }
    .header {
      #scribble-party {
        background-size: 40vw 17vw;
        width: 40vw;
        height: 17vw;
        margin: -14vw auto 0;
        bottom: -9vw;
        right: -27vw;
      }
      #scribble-celebration {
        background-size: 44vw 16vw;
        width: 44vw;
        height: 16vw;
        margin: -11vw auto 0;
        bottom: -8vw;
        right: -24vw;
      }
      span {
        line-height: 1.1;
        &.headline {
          font-size: 8vw;
        }
        &.headline2 {
          font-size: 6vw;
        }
        &.headline.party {
          font-size: 9vw;
          span {
            font-size: 9vw;
          }
        }
        &.headline2.party {
          font-size: 7vw;
          span {
            font-size: 9vw;
          }
        }
      }
      .headline-bg {
        display: none;
      }
      .headline-bg-mobile {
        display: block;
        width: 100%;
        font-size: 6.5vw;
        padding: 2vw 0 3vw;
        span {
          padding: 0 1.5vw;
          top: -0.2vw;
          font-size: 3vw;
        }
      }
    }
    .white-divider,
    .white-divider-mid {
      width: 100%;
      margin: 10px auto 6px;
      &.top {
        margin-top: 3vw;
      }
      &.bottom {
        margin-bottom: 1.5vw;
      }
    }
    .hodlween-font {
      font-size: 7vw;
    }
    a.orange-pill-btn {
      background-size: 163px 49px;
      font-size: 24px;
      height: 49px;
      width: 163px;
      margin: 12px auto 0;
      line-height: 1.9;
    }
    .highlight-section,
    .highlight-section2,
    .highlight-section3,
    .highlight-section4,
    .highlight-section5,
    .highlight-section6 {
      p {
        line-height: 1.6;
        width: 100%;
      }
      .headline-bg-alt {
        width: 96%;
        p {
          font-size: 1em;
          line-height: 1.5;
        }
      }
    }
    .highlight-section {
      padding: 13vw 0 3vw;
    }
    .highlight-section2 {
      padding: 8vw 0 20vw;
    }
    .highlight-section3 {
      padding: 10vw 0 20vw
    }
    .highlight-section4 {
      padding: 10vw 0;
    }
    .highlight-section5 {
      padding: 20vw 0;
    }
    .highlight-section6 {
      padding: 8vw 0 0vw;
    }
    .ticket-price-increase { 
      // margin: 0 0 17vw;
      > span{
        font-size: 7vw;
      }
    }
    #countdown-ticker {
      div {
        margin: 20px 3vw 0;
        span:first-child {
          font-size: 22vw;
          margin-bottom: 9vw;
        }
        span:last-child {
          font-size: 5vw;
        }
      }
    }

    article {
      padding: 0 0 70px;
      float: none;
      div.color-image {
        width: 90%;
        margin: 0 17px 10px;
      }
      &.no-padd {
        padding: 0;
      }
      h2, h6, p, .buy-links, .details, .white-divider {
        padding: 0 15px;
      }
      p {
        line-height: 1.5;
        font-size: 1em;
      }
      .white-divider div {
        margin: 10px 0;
      }
    }
    article:nth-of-type(even) {
      float: none;
      h2, h6, p, .buy-links, .details, .white-divider {
        padding: 0 15px;
      }
    }


    // article sponsorship page
    article {
      div.sponsor-icon {
        float: none;
        width: 31vw;
        padding: 0;
        margin: auto;
      }
    }
    article.sponsor {
      padding: 0 0 20vw;
      h3, h2, p, .buy-links, .details, .white-divider {
        padding: 0;
        text-align: center;
      }
      p {
        // text-align: justify;
        text-align-last: center;
      }
      h3{
        font-size: 8vw;
      }
    }
    article:nth-of-type(even) {
      div.sponsor-icon {
        float: none;
        box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
        -webkit-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
        -moz-box-shadow: -15px 15px 30px 0px rgba(128,76,136,0.3);
      }
    }
    article.sponsor:nth-of-type(even) {
      h3, h2, p, .buy-links, .details, .white-divider {
        padding: 0;
        text-align: center;
      }
      p {
        // text-align: justify;
        text-align-last: center;
      }
    }
    .table {
      thead {
        // font: $sans-serif;
        font-size: 5vw;
      }
    }
    .faq-accordian .card .card-header{
      h6 {
        padding: 4vw;
        font-size: 6vw;
      }
    }
    .speakers {
      .col {
        padding: 2em 0;
      }
      div > a {
        width: 210px;
        height: 210px;
      }
      .pic-caption {
        a {
          // font-size: 2em;
        }
      }
    }
    main {
      .responsive-embed {
        max-width: 90%;
        padding-bottom: 50.7%;
      }
    }
    .white-divider { 
      width: 100%;
    }
}

body > main.container {
    padding: 80px 15px 0; /* 80px to make the container go all the way to the bottom of the topbar */
}
